# Directorios de dependencias y compilación
node_modules/      # Para Node.js/JavaScript
build/             # Carpetas de compilación
dist/              # Carpetas de distribución
out/               # Otra carpeta común de compilación
.parcel-cache/     # Cache de Parcel si lo usas
.next/             # Para Next.js

# Archivos de configuración local (variables de entorno)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de log
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store          # Para macOS
Thumbs.db          # Para Windows

# Archivos de IDEs o editores
.vscode/           # Para VS Code
.idea/             # Para IntelliJ IDEA/WebStorm
*.sublime-project
*.sublime-workspace

# Archivos de iOS/Android (específicos del build)
# Si tu proyecto es React Native, estos son cruciales
ios/build/
ios/*.xcworkspace/
ios/*.xcsettings
ios/Pods/          # Dependencias de CocoaPods (iOS)
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
android/gradle/
android/local.properties # Contiene rutas locales de SDK
android/captures/
android/app/src/debug/