<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304281994978-ldtb96ri84g41tkdv2773q9at8tg037e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304281994978-ldtb96ri84g41tkdv2773q9at8tg037e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>304281994978-2tije5qrg446dc1o6untfcclf6ljf6gm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCdYn87945Wi14iFaHr2eQq5BTwQTBfYUA</string>
	<key>GCM_SENDER_ID</key>
	<string>304281994978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MrPlan</string>
	<key>PROJECT_ID</key>
	<string>mrplan-f15a2</string>
	<key>STORAGE_BUCKET</key>
	<string>mrplan-f15a2.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304281994978:ios:82de2d14d8edabfbd7c0bb</string>
</dict>
</plist>